<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/_layout :: head(${title})">
    <title>Devmaster</title>
</head>
<body>
<!-- Header Fragment -->
<header th:replace="fragments/_layout :: header"></header>

<!-- Nội dung chính của trang chủ -->
<section class="container" style="min-height: 268px">
    <div class="row">
        <h1>Đây là trang chủ</h1>
    </div>

    <!-- Menu Fragment -->
    <nav th:insert="fragments/_layout :: menu"></nav>
</section>

<!-- Footer Fragment -->
<footer th:replace="fragments/_layout :: footer"></footer>
</body>
</html>